<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>Sistema de Información</h1>
        <form action="/atributos" method="POST">
            <label>Seleccione un profesor:</label>
            <select name="campo">
                <option value="">-- Elige una opción --</option>
                <option value="kevin">Kevin</option>
                <option value="maria">Maria</option>
                <option value="oscar">Oscar</option>
            </select>
            <button type="submit">Consultar Información</button>
        </form>
    </div>
</body>
</html>