<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Sistema de Jugadores</h1> <br>

    <form action="/cualidades" method="POST">

    <input type="text" name="nombre" placeholder="tu nombre"> 
    <br>

    <select name="campo">
        <option value="">-- Seleccione una Posicion --- </option>
        <option value="Portero">Portero</option>
        <option value="Defensa">Defensa</option>
        <option value="Medio">Medio</option>
        <option value="Delantero">Delantero</option>
    </select>
     <br>
    <label for="checkbox"> Es Capitan? | Si o No</label><input type="checkbox" name="capitan">
    <br>
    <button type="submit">Enviar Datos</button>



    </form>

    
</body>
</html>